<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>
    <script src="javascripts/vendor/jquery-1.11.1.min.js"></script>
    <script src="javascripts/vendor/angular.js"></script>
    <script src="javascripts/vendor/angular-ui-router.min.js"></script>
    <script src="javascripts/angularApp.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>

