<!DOCTYPE html>
<html ng-app="codecrush">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>
    <script src="javascripts/vendor/jquery-1.11.1.min.js"></script>
    <script src="javascripts/vendor/angular.js"></script>
    <script src="javascripts/vendor/angular-ui-router.min.js"></script>
    <script src="javascripts/angularApp.js"></script>
  </head>
  <body ng-controller="UserCtrl">
    <form action="/login" method="post">
      <h3>Login</h3>
      <input type="text" placeholder="Email" ng-model="email"></input>
      <input type="password" placeholder="Password" ng-model="password"></input>
      <button type="submit">Login</button>
    </form>

    <div ng-include src="'views/signup.html'"></div>
  </body>
</html>

