<!-- views/index.ejs -->
<!doctype html>
<html ng-app="codeCrush">
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">  load fontawesome -->
  <link rel="stylesheet" href="stylesheets/main.css">

  <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>
  <script src="javascripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="javascripts/vendor/bootstrap.min.js"></script>
  <script src="javascripts/vendor/angular.js"></script>
  <script src="javascripts/vendor/angular-ui-router.min.js"></script>
  <script src="javascripts/angularApp.js"></script>


</head>
<body>
  <div class="container">
    <a ui-sref="game">Play Codefall!</a>
    <div ui-view></div>
  </div>
</body>
</html>
