<!DOCTYPE html>
<html ng-app="codecrush">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>
    <script src="javascripts/vendor/jquery-1.11.1.min.js"></script>
    <script src="javascripts/vendor/angular.js"></script>
    <script src="javascripts/vendor/angular-ui-router.min.js"></script>
    <script src="javascripts/angularApp.js"></script>
  </head>
  <body>

    <a href="#">Create a new user</a>
    <form ng-submit="addPost()">
      <h3>Create a user</h3>
      <div>
        <input type="text" placeholder="Title" ng-model="title"></input>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </body>
</html>

