<script type="text/javascript" src="gamefiles/phaser.js"></script>
<script type="text/javascript" src="gamefiles/Boot.js"></script>
<script type="text/javascript" src="gamefiles/MainMenu.js"></script>
<script type="text/javascript" src="gamefiles/data.js"></script>
<script type="text/javascript" src="gamefiles/Game.js"></script>
<!-- <script type="text/javascript" src="gamefiles/Level1.js"></script> -->
<script type="text/javascript" src="gamefiles/main.js"></script>

<div id="gameDiv" class="text-center"></div>
  <div>
    <a class="text-center" ui-sref="codeFallScores">Check out the high scores!</a>
  </div>
