<div class="col-sm-8 col-sm-offset-2" ng-controller="HiScoreCtrl">
    <h1 class='clear-card yellow-diag-stripes'>Hi Scores!</h1>
    <div class='white-card'>
        <!-- level 1 -->
        <h3 class="clear-card blue-diag-stripes">Level 1:</h3>
        <ol>
          <li ng-repeat="score in scores | limitTo:10 | orderBy : 'score' : 'reverse'" ng-show="score.level === 1">
            {{ score.score }}
            |
            {{ score.user.name}}
            |
            {{ score.createdAt | date:'M/d/yyyy'}}
          </li>
        </ol>
        <h3 class="clear-card blue-diag-stripes">Level 2:</h3>
        <ol>
          <li ng-repeat="score in scores | limitTo:10 | orderBy : 'score' : 'reverse'" ng-show="score.level === 2">
            {{ score.score }}
            |
            {{ score.user.name}}
            |
            {{ score.createdAt | date:'MMMM d yyyy'}}
          </li>
        </ol>
        <h3 class="clear-card blue-diag-stripes">Level 3:</h3>
        <ol>
          <li ng-repeat="score in scores | limitTo:10 | orderBy : 'score' : 'reverse'" ng-show="score.level === 3">
            {{ score.score }}
            |
            {{ score.user.name}}
            |
            {{ score.createdAt | date:'MMMM d yyyy'}}
          </li>
        </ol>
        <h3 class="clear-card blue-diag-stripes">Level 4:</h3>
        <ol>
          <li ng-repeat="score in scores | limitTo:10 | orderBy : 'score' : 'reverse'" ng-show="score.level === 4">
            {{ score.score }}
            |
            {{ score.user.name}}
            |
            {{ score.createdAt | date:'MMMM d yyyy'}}
          </li>
        </ol>
        <h3 class="clear-card blue-diag-stripes">Level 5:</h3>
        <ol>
          <li ng-repeat="score in scores | limitTo:10 | orderBy : 'score' : 'reverse'" ng-show="score.level === 5">
            {{ score.score }}
            |
            {{ score.user.name}}
            |
            {{ score.createdAt | date:'MMMM d yyyy'}}
          </li>
        </ol>

      </div>
    </div>
</div>
