<div class="text-center col-sm-6 col-sm-offset-3">
  <img src="images/codecrush-logo-png-med.png"></img>
  <h1 class='clear-card yellow-diag-stripes'>Code Crush</h1>
  <div class="game-selector"><h1 class='clear-card blue-diag-stripes'>Games to Play!</h1></div>
  <a href='/#/games/codefall'><img class="codefall-button" src="images/codefall-logo.png"></img></a>
  <div class='grey-card'>
    <a ui-sref="login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>

    <a ui-sref="signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
  </div>
</div>
