<div class="col-sm-8 col-sm-offset-2">
    <h1 class='clear-card yellow-diag-stripes'>{{user.name}}</h1>
    <img src='../images/casey-iguess.png' class='profile-pic white-card'></img>
    <div class='profile-info white-card'>
      <h1>Email:</h1>
      <h2> {{ user.email }}</h2>
      <h1 class ='clear-card blue-diag-stripes'>Scores</h1>
      <div class='grey-card' ng-controller="ScoreCtrl">
        <ol>
          <li ng-repeat="score in user.scores | limitTo:10 | orderBy : 'score' : 'reverse'">
            {{ score.score }}
            {{ score.createdAt | date:'MMMM d yyyy'}}
          </li>
        </ol>

      </div>
    </div>
</div>
