<div class="col-sm-8 col-sm-offset-2">
    <h1 class='clear-card yellow-diag-stripes'>Mad Stats Yo</h1>
    <img src='../images/casey-iguess.png' class='profile-pic white-card'></img>
    <div class='profile-info white-card'>
      <h1>Email: {{ user.email }}</h1>
      <p>Play Time: 5hrs 30m</p>
      <p>Favorite Game: Code Fall</p>
      <h1 class ='clear-card yellow-diag-stripes'>Scores</h1>
      <div class='grey-card'>
        <ol>
          <li ng-repeat="score in user.scores | orderBy : 'score' : 'reverse'">
            {{ score.score }}
            {{ score.createdAt | date:'MMMM d yyyy'}}
          </li>
        </ol>

      </div>
    </div>
</div>
