@import url(http://fonts.googleapis.com/css?family=Audiowide|Orbitron:400,700|Ruda:400,700);

body {
  background-image: url('../images/megamoth-big.png');
  background-size: 30%;
  background-color: grey;
  background-repeat: no-repeat;
  background-position: fixed top left;
  /*background-size: cover;*/
  color: white;
  font-family: 'Orbitron';
}

canvas {
  margin: auto;
}

.card {
  border: 2px solid white;
  padding: 3%;
  border-radius: 5px;
}

.clear-card {
  padding: 3%;
  border-radius: 5px;
}

.blue-diag-stripes {
  background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
}

.navbar-default {
  background-color: black;
}

.navbar-default .navbar-brand {
  color: white;
}

.profile-pic {
  width: 50%;
  background: white;
}

.profile-info {
  width: 49%;
  margin-left: 1%;
  float: right;
  display: inline-block;
}

.
