@import url(http://fonts.googleapis.com/css?family=Audiowide|Orbitron:400,700|Ruda:400,700);

body {
  background: url('../images/megamoth-big.png');
  background-size: 30%;
  background-color: #044568;
  background-repeat: no-repeat;
  background-position: fixed top left;
  /*background-size: cover;*/
  font-family: 'Orbitron';
}

.brick {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

canvas {
  margin: auto;
}

.white-card {
  border: 2px solid white;
  padding: 3%;
  border-radius: 5px;
  background: white;
}

.grey-card {
  border: 2px solid grey;
  padding: 3%;
  border-radius: 5px;
  background: grey;
}

.clear-card {
  padding: 3%;
  border-radius: 5px;
}


.blue-diag-stripes {
  background: repeating-linear-gradient(
  45deg,
  #3482AC,
  #3482AC 10px,
  #044568 10px,
  #044568 20px
);
}

.yellow-diag-stripes {
  background: repeating-linear-gradient(
  -55deg,
  #FFBF13,
  #FFBF13 10px,
  #CF9700 10px,
  #CF9700 20px
);
}

.caution-diag-stripes {
  background: repeating-linear-gradient(
  -55deg,
  #FFBF13,
  #FFBF13 10px,
  #515151 10px,
  #515151 20px
);
}

.navbar-default {
  background-color: black;
  border: none;
}

.navbar-default .navbar-brand {
  color: white;
}

.nav-logo {
  width: 25%;
  height: 25%;
}

.profile-pic {
  width: 50%;
  background: white;
}

.profile-info {
  width: 49%;
  margin-left: 1%;
  float: right;
  background: white;
  font-family: 'Ruda';

}

.profile-info h1 {
  font-family: 'Orbitron';
  font-size: 2em;
}

.profile-info h2 {
  font-family: 'Orbitron';
  font-size: 1em;
}

.codefall-button {
  width: 60%;
  margin: 2%;
}

.game-selector {
  color: white;
  font-size: .5em;
}
