@import url(http://fonts.googleapis.com/css?family=Audiowide|Orbitron:400,700|Ruda:400,700);

body {
  background: url('../images/megamoth-big.png');
  background-size: 30%;
  background-color: #044568;
  background-repeat: no-repeat;
  background-position: fixed top left;
  font-family: 'Orbitron';
}

.big-logo {
  padding-bottom: 5%;
}

.brick {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/*game canvas*/
canvas {
  margin: auto;
  border: solid
rgb(248, 121, 28) 3px;
  border-radius: 10px;
}

.white-card {
  border: 2px solid white;
  padding: 3%;
  border-radius: 5px;
  background: white;
}

.grey-card {
  border: 2px solid grey;
  padding: 3%;
  border-radius: 5px;
  background: grey;
}

.blue-card {
  border: 2px solid #3482AC;
  padding: 3%;
  border-radius: 5px;
  background: #3482AC;
}

.yellow-card {
  border: 2px solid #FFCC43;
  padding: 3%;
  border-radius: 5px;
  background: #FFCC43;
}

.clear-card {
  padding: 3%;
  border-radius: 5px;
}


.blue-diag-stripes {
  background: repeating-linear-gradient(
  45deg,
  #3482AC,
  #3482AC 10px,
  #044568 10px,
  #044568 20px
);
  color: white;
}

.yellow-diag-stripes {
  background: repeating-linear-gradient(
  -55deg,
  #FFBF13,
  #FFBF13 10px,
  #CF9700 10px,
  #CF9700 20px
);
}

.caution-diag-stripes {
  background: repeating-linear-gradient(
  -55deg,
  #FFBF13,
  #FFBF13 10px,
  #515151 10px,
  #515151 20px
);
}

.navbar-default {
  background-color: black;
  border: none;
}

.navbar-default .navbar-brand {
  color: white;
}

.crush-title {
  margin-top: 2%;
  font-size: 1.4em;
}

.crush-title-game {
  margin-top: 4%;
  font-size: 1.4em;
}

.nav-logo {
  width: 83px;
  height: 81px;
}

.nav-logo-game {
  width: 83px;
  height: 81px;
}

.profile-pic {
  width: 50%;
  background: white;
}

.profile-info {
  width: 49%;
  margin-left: 1%;
  float: right;
  background: white;
  font-family: 'Ruda';
}

.error {
  font-family: 'Ruda';
}

.scorecard {
  font-family: 'Ruda';
  font-size: 1.7em
}

.scorecard .scoredate {
  color: grey;
  font-size: 1em;
}

.profile-info h1 {
  font-family: 'Orbitron';
  font-size: 2em;
}

.profile-info h2 {
  font-family: 'Orbitron';
  font-size: 2em;
}

.profile-info h2 {
  font-family: 'Orbitron';
  font-size: 1em;
}

.codefall-button {
  width: 60%;
  margin: 2%;
}

.codefall-button-nav {
  width: 30%;
  margin: 2%;
}

.game-selector {
  color: white;
  font-size: .5em;
}

.high-score-link {
  font-size: 1.2em;
  padding-top: 2%;
  text-align: center;
  text-decoration: underline;
  color: rgb(248, 121, 28);
}

.need-account-text {
  padding-top: 2%;
}

.login-text {
  font-size: 1.4em;
  margin-top: 3%;
}

